<h1>HomePage</h1>

<form action="{% url 'search_results' %}" method="get">
  <input name="q" type="text" placeholder="Search...">
</form>
<br/>
<br/>
<br/>
<form method="POST">
  <label>google dịch 1 nếu thích:</label>
  <input id="first" type="text"/>
  <br/>
  <label>google dịch 2 nếu vẫn thích:</label>
  <input id="second" type="text"/>
  <br/>
  <input type="button" id="clickme" value="Gửi"/>
</form>

<div id="result"></div>
<script>
document.getElementById("clickme").onclick = function() {
	var firstInput = document.getElementById("first").value;
	var secondInput = document.getElementById("second").value;
  var showResultDiv = document.getElementById("result");
  
  var content = "<p>" + firstInput + "</p>" +
  							"<p>" + secondInput + "</p>";
                
	showResultDiv.innerHTML = content;
}
</script>

<!-- Code provided by Google -->
<div id="google_translate_element"></div>
<script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({
            pageLanguage: 'en',
            layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
            autoDisplay: false
        }, 'google_translate_element');
    }
</script>
<script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" type="text/javascript"></script>